# -----------------
# Maven
# -----------------
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# -----------------
# Build outputs
# -----------------
*.class
*.jar
*.war
*.ear

# -----------------
# IDEs
# -----------------
.idea/
*.iml
out/
.project
.classpath
.settings/
.vscode/

# -----------------
# OS files
# -----------------
.DS_Store
Thumbs.db
desktop.ini
*~

# -----------------
# Logs
# -----------------
*.log
logs/
hs_err_pid*

# -----------------
# Temporary & backup files
# -----------------
*.tmp
*.swp
*.swo
*.bak

# -----------------
# Sensitive config
# -----------------
.env
*.env
application-*.properties
settings.json
